<head>
  <style type="text/css">
    #bodyId{background:#f1f1f1;} a.mt-3 {color: aliceblue !important;} .circles li {animation: none} .circles {display: none;} #userAreaEmpty {margin-left: 1vw; margin-right: 1vw;}
  </style>
</head>

{{#if cross}}
  <h2 id="userArea" class="lead text-center mt-3" referrerpolicy="no-referrer">
    Hello
    {{name}}! Here's all the crosswords you've made so far...
  </h2>

  <div id="table" class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col" class="thHead">Date</th>
          <th scope="col" class="thHead size">Size</th>
          <th scope="col" class="thHead tdSolution">Solution</th>
          <th scope="col" class="thHead">Link</th>
          <th scope="col" class="thHead">Delete</th>
        </tr>
      </thead>
      <tbody id="tBodyUser">
        {{#each cross}}
          <tr class="trUserCrossword"><td class="tdDate">{{dateF this.createdAt}}</td><td class="size">{{this.size}}x{{this.size}}</td><td class="tdSolution">{{this.solution}}</td><td class="tdLink"><a href="javascript:window.location.replace(`${document.location.origin}/solve/{{this._id}}`)">Go to Crossword<i class="bi bi-link-45deg tdLinkIcon"></i></a></td><td class="tdDelete"><a onclick="growl()" href="javascript:window.location.replace(`${document.location.origin}/delete/{{this._id}}`)" class="btn btn-outline-danger tdDeleteAnchor"><i class="bi bi-trash deleteIcon"></i></a></td></tr>
        {{/each}}
      </tbody>
    </table>
  </div>

{{else}}

  <div class="d-flex flex-column align-items-center">
    <h2 id="userAreaEmpty" class="lead text-center mt-5" referrerpolicy="no-referrer">
      Hello
      {{name}}! You haven't made any crosswords so far...
    </h2>
    <a href="/create" class="text-center btn btn-primary mt-3 button-18">Create Your Own Crossword!</a>
  </div>
{{/if}}

<script type="text/javascript">
  function growl() { GrowlNotification.notify({ title: "Deleted Sucessfully!", image: { visible: true, customImage: "../img/info-outline.svg" }, type: "info", position: "top-center", closeTimeout: 3000 }) }
</script>